<template>
  <section class="view">
    <div class="box">
      <div class="columns is-multiline">
        <div class="column is-full">
          <a @click="searchRandomUsers" class="button">Consultar perfiles</a>
        </div>
        <div class="column is-full">
          <Profiles
              v-if="profiles.length > 0"
              :profiles="profiles"
              :page.sync="page"
              :lastPage="lastPage"/>
        </div>
        <div class="column">
          <hr>
          <div class="columns is-multiline">
            <div class="column is-full-tablet is-half-desktop">
              <Filters
                  @createProfile="profileCreate($event)"
                  :page="page"
                  :filterStr.sync="filterStr"
                  :last-page="lastPage"/>
            </div>
            <div class="column is-full-tablet is-half-desktop">
              <DisplayBoard :numberOfProfiles="favListsCount" @getAllProfiles="getAllProfiles()"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Filters from './Filters.vue'
import DisplayBoard from './DisplayBoard.vue'
import Profiles from './Profiles.vue'
import { getRandomUsers } from '@/services/RandomUserService'
import { mapGetters } from 'vuex'

export default {
  name: 'Dashboard',
  components: {
    Filters,
    DisplayBoard,
    Profiles
  },
  data() {
    return {
      profiles: [],
      filterStr: '',
      numberOfProfiles: 0,
      page: 1,
      limit: 10,
      maxResults: 200
    }
  },
  watch: {
    filterStr: function () {
      //this.searchRandomUsers() // uncomment for debug
    }
  },
  methods: {
    searchRandomUsers() {
      getRandomUsers(this.filterStr).then(response => {
        this.profiles = response.results
      })
    }
  },
  computed: {
    lastPage: function () {
      return this.maxResults / this.limit
    },
    ...mapGetters({
      favListsCount: 'favListsCount'
    })
  },
  mounted() {
    this.searchRandomUsers()
    this.$store.dispatch('getFavListCount')
  }
}
</script>
