<template>
  <div class="display-board">
    <div class="columns">
      <div class="column">
        <h4 class="is-no-wrap">Listas guardadas</h4>
        <div class="count">
          {{ numberOfProfiles }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DisplayBoard',
  props: ['numberOfProfiles']
}
</script>
