<template>
  <div v-if="list.length > 0" class="container">
    <div class="box is-half-desktop fav-list">
      <h5 class="title is-h5">Listado de favoritos</h5>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" v-model="listName" placeholder="Nombre para la lista" />
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button @click="storeCurrentFavList" class="button">Guardar lista</button>
        </div>
      </div>

      <ul>
        <li v-for="profile in list" :key="profile.email">
          <span class="tag is-rounded is-danger is-small">X</span> <b>{{ profile.name.first }} {{
            profile.name.last
          }}</b> <span>@</span> {{ profile.location.country }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'FavList',
  data() {
    return {
      listName: ''
    }
  },
  methods: {
    storeCurrentFavList() {
      this.$store.dispatch('storeCurrentFavList', this.listName).then(() => {
        this.listName = ''
      })
    }
  },
  computed: {
    ...mapGetters({
      list: 'favList'
    })
  }
}
</script>
