<template>
  <section class="view">
    <div class="box">
      <div v-if="favLists.length === 0">
        <h1 class="title">Todavía no tienes ninguna lista guardada</h1>
        <p class="has-text-centered"><router-link to="/">Volver al dashboard</router-link></p>
      </div>
      <div v-else>
        <h1 class="title">Listas guardadas</h1>
        <ul>
          <li :key="list.name" v-for="list in favLists">
            <button @click="csvExport(csvData(list.list), list.name)" class="button btn-warning is-small">Exportar CSV</button>
            <span class="subtitle is-4">{{ list.name }}</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
import { getAllFavLists } from '../services/ProfileService'
import moment from 'moment'

export default {
  name: 'Favorites',
  data() {
    return {
      favLists: []
    }
  },
  methods: {
    csvExport(arrData, listName) {
      let csvContent = "data:text/csv;charset=utf-8,"
      csvContent += [
        Object.keys(arrData[0]).join(";"),
        ...arrData.map(item => Object.values(item).join(";"))
      ]
          .join("\n")
          .replace(/(^\[)|(\]$)/gm, "")

      const data = encodeURI(csvContent)
      const link = document.createElement("a")
      link.setAttribute("href", data)
      link.setAttribute("download", `${listName}.csv`)
      link.click()
    },
    csvData (selectedList) {
      return selectedList.map(item => {
        return {
          gender: item.gender,
          fullname: item.name.first + ' ' + item.name.last,
          email: item.email,
          nat: item.nat,
          dob:  moment(item.dob.date).format('DD/MM/y'),
          register_date:  moment(item.registered.date).format('DD/MM/y'),
        }
      })
    }
  },
  activated() {
    getAllFavLists().then(result => {
      this.favLists = result
    })
  }
}
</script>


