<template>
  <div class="container">
    <form>
      <div class="field-body">
        <div class="field">
          <div class="field is-grouped">
            <div class="control">
              <a @click="clearFilters" class="button">Clear</a>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Por página</label>
          <div class="control">
            <div class="select">
              <select v-model="limit" @update="updateLimit($event)">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="100">100</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Género</label>
          <div class="control">
            <div class="select">
              <select v-model="gender">
                <option value>Todos</option>
                <option value="male">Hombre</option>
                <option value="female">Mujer</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Nacionalidad</label>
          <div class="select">
            <select v-model="nat">
              <option value>Todos</option>
              <option value="ES">España</option>
              <option value="US">Estados Unidos</option>
              <option value="NZ">Nueva Zelanda</option>
              <option value="CA">Canadá</option>
              <option value="IR">Irán</option>
              <option value="FI">Finlandia</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Filters',
  props: ['page', 'filterStr', 'lastPage'],
  data() {
    return {
      limit: 10,
      gender: '',
      nat: ''
    }
  },
  watch: {
    makeStr: function () {
      this.$emit('update:filterStr', this.makeStr)
    }
  },
  methods: {
    clearFilters() {
      this.limit = 10
      this.gender = ''
    }
  },
  computed: {
    makeStr: function () {
      let sStr = `?page=${this.page}&results=${this.limit}`

      if (this.gender !== '') {
        sStr += `&gender=${this.gender}`
      }

      if (this.nat !== '') {
        sStr += `&nat=${this.nat}`
      }

      return sStr
    }
  },
  mounted() {
    this.$emit('update:filterStr', this.makeStr)
  }
}
</script>
