<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Profiles test</strong> by <a href="mailto:josefanjulg@gmail.com">Jose Fanjul</a> © {{ new Date().getFullYear() }}
      </p>
    </div>
  </footer>
</template>



<script>
export default {
  name: 'Footer'
}
</script>
