<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link class="navbar-item" to="/">
        <img src="../assets/logo.png" width="28" height="28">
        <h2 class="title is-3 is-spaced has-text-weight-semibold">Profiles test</h2>
      </router-link>

      <a @click="toggleMenu" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
         data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div
        id="navbarBasicExample"
        class="navbar-menu"
        :class="{ show: menuVisible }">
      <div class="navbar-start">
        <router-link :to="'/'" class="navbar-item">
          Dashboard
        </router-link>
        <router-link :to="'/favorites'" class="navbar-item">
          Favorites
        </router-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Header',
  data: () => ({
    menuVisible: false
  }),
  methods: {
    toggleMenu() {
      this.menuVisible = !this.menuVisible
    }
  }
}
</script>
