<template>
  <div class="container table-container">
    <table class="table table-bordered is-fullwidth">
      <thead>
      <tr>
        <th>Género</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Nacionalidad</th>
        <th>Fecha de nacimiento</th>
        <th>Fecha de registro</th>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in profiles" :key="item.id.value">
        <td>{{ transGender(item.gender) }}</td>
        <td>{{ item.name.first }} {{ item.name.last }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.nat }}</td>
        <td>{{ item.dob.date | moment }}</td>
        <td>{{ item.registered.date | moment }}</td>
        <td>
          <a @click="selectCurrentProfile(item)">Ver perfil</a>
        </td>
      </tr>
      </tbody>
    </table>
    <nav class="pagination" role="navigation" aria-label="pagination">
      <a @click="updatePage(page - 1)" class="pagination-previous" title="This is the first page" :disabled="page === 1">Previous</a>
      <a @click="updatePage(page + 1)" class="pagination-next">Next page</a>
      <!-- <ul class="pagination-list">
        <li @click="updatePage(i)" v-for="i in lastPage" :key="`page-${i}`">
          <a class="pagination-link" :class="{ 'is-current': i === page}" aria-current="page">{{ i }}</a>
        </li>
      </ul> -->
    </nav>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Profiles',
  props: ['profiles', 'page', 'lastPage'],
  methods: {
    transGender(key) {
      return key === 'female' ? 'Mujer' : key === 'male' ? 'Hombre' : ''
    },
    updatePage(i) {
      if (i > 0) {
        this.$emit('update:page', i)
      }
    },
    selectCurrentProfile(data) {
      this.$store.dispatch('selectCurrentProfile', data).then(() => {
        this.$router.push('/profile')
      })
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format('DD/MM/y');
    }
  }
}
</script>
