<template>
  <section class="view">
    <div v-if="profile" class="box">
      <div class="columns">
        <div class="column is-one-fifth">
          <figure class="image is-256x256">
            <img :src="profile.picture.large">
          </figure>
        </div>
        <div class="column is-three-fifth">
          <div id="locationMap"></div>
        </div>
        <div class="column is-one-fifth">
          <button v-if="!hasInFavList" @click="$store.dispatch('addFavProfile', profile)" class="button">Añadir favorito</button>
          <button v-if="hasInFavList" @click="$store.dispatch('removeFavProfile', profile)" class="button is-light is-danger">Eliminar favorito</button>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column is-three-fifth">
        <ul>
          <li><h2 class="title is-2">{{ profile.name.first }} {{ profile.name.last }}</h2></li>
          <li><h3 class="subtitle is-5">{{ profile.email }}</h3></li>
          <li><h3 class="subtitle is-5">{{ profile.phone }}</h3></li>
        </ul>
        </div>
        <div class="column is-one-fifth"></div>
      </div>
      <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column is-three-fifth">
          <ul>
            <li><p class="subtitle is-5">{{ profile.location.street.name }} {{ profile.location.street.number }}</p></li>
            <li><p class="subtitle is-5">{{ profile.location.postcode }} {{ profile.location.city }} - {{ profile.location.country }}</p></li>
          </ul>
        </div>
        <div class="column is-one-fifth"></div>
      </div>
      <fav-list />
    </div>
  </section>
</template>


<script>
import { mapGetters } from "vuex"
import FavList from './Favlist'

export default {
  name: 'ProfileDetail',
  components: {
    FavList,
  },
  computed: {
    ...mapGetters({
      profile: 'currentProfile',
      hasInFavList: 'hasInFavList'
    })
  },
  beforeMount() {
    if (!this.profile) {
      this.$router.push('/')
    }
  },
  activated() {
    if (this.profile) {
      if (this.profile.location && this.profile.location.coordinates) {
        window.mapboxgl.accessToken = 'pk.eyJ1IjoiajBzc2d6IiwiYSI6ImNrcnh4OXR6YTB1bDUzMnM3emFoYzBpazAifQ.kj0s_Dboart1BJquL8Dctw';
        new window.mapboxgl.Map({
          container: 'locationMap',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [this.profile.location.coordinates.longitude, this.profile.location.coordinates.latitude],
          zoom: 5
        });
      }
    }
  }
}
</script>
