.page-switch {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(20px);
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    transform: translateY(0px);
  }

  &-enter-active {
    transition: all .3s ease;
  }

  &-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
}

.section-switch {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(50px);
    position: absolute;
    margin: 0 25% !important;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
    transform: translateY(0px);
  }

  &-enter-active {
    transition: all .3s ease;
  }

  &-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
}
