$main: #59bd98;
$main-light: #6fdcb4;
$main-light-alpha: #59bd9869;
$nav-bg: #4a5a55;

::selection {
  background: $main-light;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $main;
}

body {
  background: #f1f1f1;
}

h1 {
  text-align: center;
}

.page-wrapper {

  a {
    color: $main;
  }

  a:hover {
    color: $main-light;
  }

  .view {
    min-height: calc(100vh - 64px - 168px);
    display: flex;
    flex-direction: column;
    padding: 2rem 1.25rem 1rem;
    margin: 0 auto;
    max-width: 1400px;
  }

  .navbar {
    background-color: $nav-bg;
  }

  a.navbar-item img {
    margin-right: 10px;
  }

  a.navbar-item:focus {
    color: $main;
    background-color: transparent;
  }

  a.navbar-item:hover {
    background-color: #afafaf36;
  }

  a.navbar-item:hover,
  a.navbar-item:active {
    color: $main-light;
  }

  .title {
    color: $main;
  }

  .footer {
    max-height: 200px;
  }

  .dashboard {
    padding: 3% 1%;
  }

  .display-board {
    border-radius: 7px;
    background-color: #f9f9f9;
    text-align: center;
    width: 100%;
  }

  .count {
    color: $main-light;
    font-size: 2rem;
    text-align: center;
  }

  .navbar-menu.show {
    display: flex;
  }

  .pagination-link.is-current {
    background-color: $main;
    border-color: $main;
  }

  .select:not(.is-multiple):not(.is-loading)::after,
  .input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus, .textarea:active, .textarea:focus {
    border-color: $main;
  }

  .input.is-link.is-active, .input.is-link.is-focused, .input.is-link:active, .input.is-link:focus, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus {
    box-shadow: inset 0 -2px 0 $main;
  }

  #locationMap {
    height: 250px;
    width: 100%;
  }

  .fav-list {
    max-width: 500px;
  }

  ul li {
    display: flex;
    margin-bottom: 10px;

    .button,
    .tag.is-rounded.is-danger,
    span {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  @media only screen and (max-width: 1023px) {
    .table-container {
      overflow-x: auto;
      overflow-y: hidden;
    }

    table {
      font-size: 0.8em;


    }
  }

  @media only screen and (min-width: 1024px) {
    .table-container {
      overflow-x: hidden;
      overflow-y: hidden;
    }

    .is-no-wrap {
      white-space: nowrap;
    }
  }
}
