<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel='manifest' href="manifest.json">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="alten-app-page--app page-switch-enter-active">
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div id="app"></div>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
<script>
  if (navigator.serviceWorker.controller) {
    console.log("Active service worker found, no need to register")
  } else {
    navigator.serviceWorker.register("serviceworker.js", { scope: "./" }).then(function (reg) {
      console.log("Service worker has been registered")
    })
  }
</script>
</body>
</html>
