<template>
  <div id="app" class="page-wrapper">
    <app-header></app-header>

    <div class="page-content-wrapper">
      <transition name="page-switch"
                  mode="out-in">
        <keep-alive :key="$route.fullPath">
          <router-view></router-view>
        </keep-alive>
      </transition>
    </div>

    <app-footer></app-footer>
  </div>
</template>

<script>
import Header from './components/Header'
import Footer from './components/Footer'

export default {
  name: 'App',
  components: {
    appHeader: Header,
    appFooter: Footer
  }
}
</script>

<style lang="scss">
  @import 'assets/styles/app.scss';
</style>
